body {
    background-color: rgb(236, 173, 207);
    height: 100%;
    width: 100%;
    margin: 0;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(146, 14, 87);
}

.photo3 img {
    width: 100%; 
    height: auto; 
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

#footer{
    background-color:rgb(194, 74, 138);
    font: "Roboto",sans-serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0;
    position: absolute; 
    bottom: 0;
    left: 0;
    color:rgb(245, 220, 234);
}

#nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(194, 74, 138);
    gap: 100px;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px; 
    cursor: pointer;
    padding-right: 200px;
}

#nav li a {
    margin: 0 auto;
    color:rgb(245, 220, 234);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

#nav li a:hover { 
    text-decoration: underline;
    color: rgb(146, 14, 87);
}